/* General DOM Objects */
*, html {
  margin: 0;
  padding: 0;
}
body {
  margin: 1em;
  font: 18px Helvetica, Arial, sans-serif;
  color: #d1c86b;
  background-image: url("https://wallpaperplay.com/walls/full/b/e/3/29079.jpg");
}
fieldset {
  margin: 1em 1em 2em 1em;
  padding: 1em;
}
fieldset legend {
  font-size: 160%;
  font-weight: bold;
}
select {
  font: inherit;
}
p {
  margin: 0.25em 0;
}
input {
  font: inherit;
}
h1 {
  margin-top: 1em;
  text-align: center;
}
h2 {
  margin-bottom: 1em;
  font-size: 160%;
}
h3 {
  font-size: 120%;
  font-weight: bold;
  text-align: left;
}
hr {
  margin: 1em 0;
}
button, input[type="submit"] {
  height: 40px;
  width: 180px;
  font-weight: bold;
  font-size: 100%;
  margin-top: 12px;
  border-radius: 15%;
  background-color: #bfbcb0;
}
button:hover {
  color: #6a6a6b;
  cursor: pointer;
}
table:not(.ui-datepicker-calendar) {
  margin-top: 12px;
  border: 1px solid black;
  width: 100%;
}
table:not(.ui-datepicker-calendar) tr td:first-child {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}
table:not(.ui-datepicker-calendar) tr td:nth-child(2) {
  width: 105px;
  min-width: 105px;
  max-width: 105px;
}
table:not(.ui-datepicker-calendar) td {
  border: 1px solid black;
  padding-left: 0.3em;
  background-color: #b9b9c0;
  color: #000000;
}
table:not(.ui-datepicker-calendar) td button {
  display: block;
  margin: auto;
  border-radius: 100%;
  background-color: #d1c86b;
}
/* Search/Results objects */
#div_container, #div_Search_Results {
  margin: 1em;
}
#div_My_Events_Calendar, #div_Total_Return {
    margin: 1em 0;
}
#div_Search_Results a:link,
#div_My_Events_Calendar a:link {
  text-decoration: none;
  color: #0e0780;
}
#div_Search_Results a:visited,
#div_My_Events_Calendar a:visited {
  text-decoration: none;
  color: #575568;
}
#div_Search_Results a:hover,
#div_My_Events_Calendar a:hover {
  text-decoration: none;
  color: #656028;
}
#div_Search_Results a:active,
#div_My_Events_Calendar a:active {
  text-decoration: none;
}
#div_No_Results_Found {
  margin: 15px 0 0 30px;
  color: #ff0000;
}
#fldset_Search_Input input {
  height: 25px;
}
#fldset_Search_Input input[type="radio"] {
  margin: 1px 3px 1px 18px;
}
#fldset_Search_Input input[type="text"],
#fldset_Search_Input input[type="date"] {
  margin: 12px 0 12px 0;
  width: 350px;
}
#div_Search_Results #btn_AddToList {
  /* font-size: 80%; */
  /* height: 30px; */
}
#div_Artist_Pic img {
  height: 200px;
}
/* Classes */
.hidden {
  display: none;
}
.success_msg {
  color: #0a730a;
}
.error_msg {
  color: #ff0000;
  font-style: italic;
}
